<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/main.css">

    <title>Hello, list!</title>
  </head>
  <body>
    <%- include('nav.ejs')%>
    <div class="card mt-sm-2">
      <div class="card-body"> <a class="text-white bg-dark"><%= user.id%></a> さんがログインされています。
        <form action="/logout">
          <button type="submit" class="input-group-append btn btn-danger" id="logout">LogOut</button>
        </form>
      </div>
    </div>

    <div class="container mt-4">
      <h4 class="text-center">From the sever.</h4>
      <div class="card">
        <div class="card-body text-center mt-sm-2"> <a class="text-white bg-dark">管理者のアカウントは全てのポストを削除可能。</a></div>
      </div>
      <div class="container input-group mb-2">
        <input class="form-control" id="input-search">
        <button class="input-group-append btn btn-danger" id="search">search</button>
      </div>

      <ul class="list-group">
        <%for (var i = 0; i < posts.length; i++) { %>
          <li class="list-group-item">
            <h><div class="card-body"> <b class="text-white bg-dark">postNo</b>. <%=posts[i]._id %></div> </h>
            <h4><div class="card-body"> <b class="text-white bg-dark">ProductName :</b> <%= posts[i].ProductName%></div></h4>
            <div class="card-body"> <b class="text-white bg-dark">Info :</b> <%= posts[i].ProductInfo%></div>
            <div class="card-body"> <b class="text-white bg-dark">Stock :</b> <%= posts[i].Stock%></div>
            <button class="btn btn-danger delete" data-_id="<%= posts[i]._id %>" data-wCode="<%= posts[i].writerCode %>">Delete</button>
            <button class="btn btn-success edit" data-_id="<%= posts[i]._id %>" data-wCode="<%= posts[i].writerCode %>">Edit</button>
            <h6 class="float-right"><span class="badge badge-secondary">作成者</span><%= posts[i].writer %> </h6>
          </li>
          <p>
        <% } %>
      </ul>
    </div>>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
      $('#search').click(function(){
        var inputSomething = $('#input-search').val()
        window.location.replace('/search?value=' + inputSomething)
      })
    </script>

    <!-- AJAX -->
    <script>
      $('.edit').click(function(e){
        var postNumber = e.target.dataset._id;
        var pushedBtn = $(this);
        
        window.location.replace('/edit/' + postNumber);
      })

      $('.delete').click(function(e){
        var postData = e.target.dataset;
        var pushedBtn = $(this);
        
        $.ajax({
            method : 'DELETE',
            url : '/delete',
            data : {postData : postData}  
        }).done(function(result){
            pushedBtn.parent('li').fadeOut();
        }).fail(function(xhr, textStatus, errorThrown){
            alert('あなたが作成した文書ではありません。');
            console.log(xhr, textStatus, errorThrow);
            //Loginしないとpostをdeleteできない。
            //作成者じゃないとpostをdeleteできない。
        });
      })
    </script>

    <!-- Optional JavaScript -->
    <!-- Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>